p{
color:black;
background-color:grey;
padding:10px;
font-family:axial;
}
#id-selector{
color:white;
background-color:green;
padding:10px;
font-size:16px;
}
.class-selector{
color:blue;
background-color:yellow;
padding:10px;
ffont-size:16px;
}
*{
font-family:verdana,sans-serif;
/*background-color:blue;
}

